.consultation {
    background: url("/src/img/consultation.bg.jpeg") center center / cover no-repeat;
    height: 680px;

    &__title {
        padding-top: 100px;
    }

    &__subtitle {
        margin-top: 8px;
        color: rgb(255, 255, 255);
        font-size: 20px;
        font-weight: 500;
        line-height: 30px;
        text-align: left;
    }

}