@use"/src/sass/base/variables.scss";

.footer {
    position: relative;
    margin-top: 50px;
    height: 630px;

    &__info {
        padding: 50px 68px 60px 68px;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 460px;
        height: 270px;
        background: rgb(199, 1, 1);
    }

    &__addr {
        color: rgb(255, 255, 255);
        font-size: 20px;
        font-weight: 500;
        line-height: 20px;
        text-align: center;
    }

    &__phone {
        display: block;
        margin-top: 36px;
        color: rgb(255, 255, 255);
        font-size: 20px;
        font-weight: 700;
        line-height: 20px;
        text-align: center;
        text-decoration: none;

        &:hover {
            color: #fff;
        }
    }

    &__social {
        margin-top: 36px;
        display: flex;
        justify-content: center;
        column-gap: 27px;

        &-item {
            width: 53px;
            height: 52px;
        }
    }
}