.title {
    color: rgb(255, 255, 255);
    font-size: 42px;
    font-weight: 700;
    line-height: 42px;
    text-transform: uppercase;
    text-align: center;

    &_left {
        font-size: 36px;
        text-align: left;
    }
}